
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    /* flex-flow: row wrap-reverse;  é o mesmo comando das linhas 4 e 5 compactados em um só comando*/

    background: silver;

}

.caixa {
 width: 200px;
 height: 100px;   
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}



