body {
background:rgb(95, 156, 95);
font-family: 'Caudex', serif;
color: #444242;
}

.foto-principal {
    width: 150px;
    border: 7px solid blue; /* shorthand */
    border-radius: 10% 100% 100% 10%;
    margin: 30px 30px 50px 30px;
    padding: 10px;
    box-shadow: 14px 10px 25px white;
}
h1 {
    margin-bottom: 0;
    font-family: 'El Messiri', sans-serif;
    color: rgb(34, 33, 33);        
}
h2 {
    margin-top: 0;
    font-style: italic;
    color: rgb(110, 107, 107);
    font-weight: 100;
    letter-spacing: -1px;
/*<link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&display=swap" rel="stylesheet"> */
}
