body {
background:rgb(95, 156, 95);
font-family: Arial, 'courier New', sans-serif ;
color: #444242;
}

.foto-principal {
    width: 150px;
    border: 7px solid blue; /* shorthand */
    border-radius: 10% 100% 100% 10%;
    margin: 30px 30px 50px 30px;
    padding: 10px;
    box-shadow: 14px 10px 25px white;
}
h1 {
    margin-bottom: 0;    
}
h2 {
    margin-top: 0;
    font-style: italic;
    color: rgb(110, 107, 107);
    font-weight: 100;
    letter-spacing: -1px;
}